/* CONSISTENT FONT AND BG */

*{
  font-family: 'Montserrat'
}


*{
background-color: white;
}


h1{
color: #fcb6b8;
background-color: transparent;
}

h4{

  color: #fcb6b8;
  
}


p{
color: #fcb6b8;
font-size: 20px;
background-color: transparent;
text-align: center;
}




h3{
  color: #fcb6b8;
  background-color: transparent;
}
  

/* ABOUT INFO */

  #myDIV{
    color: #fcb6b8;
    background-color: #3c8bcc;
    font-size: 22px;
    display: none;
    
    padding: 10px;
    margin: 7%;
    
    
    
  }

  #selfie{
    display: none;
  }

  #films {
    color: #fcb6b8;
    background-color: #3c8bcc;
    font-size: 22px;
    display: none;
    
    padding: 10px;
    margin: 7%;
    


  }

  #films h3, h4{
    background-color: transparent;
    color: #fcb6b8;
    list-style-type: none;
    font-weight: normal;
    

  }

  #films a{
    text-decoration: none;
    background-color: transparent;
    color:#fcb6b8;
  }

  #films a:hover{
    color: blue;
  }
  

  #myDIV h4{
    color:#fcb6b8;
    font-weight: normal;
    background: transparent;
  }


  #myDIV p{
    color:#fcb6b8;
    font-weight: normal;
    background: transparent;
  }

  

  /* HEADERS */

  .otherheader {
    padding: 10px;
    background-color: #3c8bcc;
    font-size: 30px;
    max-width: 90%;
    margin: 7%;
    text-align: center;

    
    
  }

  .otherheader2 {
    padding: 0;
    background-color: transparent;
    font-size: 30px;
    max-width: 100%;
    margin: 7%;
    text-align: center;
    align-content: center;

    
    
  }

  .otherheader2 button{
    cursor: pointer;

  }
    



 /* FOOTER */

 footer{
    
  border: rgb(0, 0, 0);
  border-width: 5pxxx;
  padding: 5px;
  text-align: right;
  background-color: #3c8bcc;
  margin-top: 10px;
  
  
} 

.socials{
  background-color: transparent;
}

.socials a{
  background-color: transparent;
}

.logo{
  float: left;
}



footer a:hover{
  opacity:50%;
}




/* NAVIGATION */


.navbar {
  overflow: hidden;
  float: right;
}


.navbar a {
  float: left;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




.dropdown {
  float: left;
  overflow: hidden;
  
}


.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #fcb6b8;
  background-color: #3c8bcc;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
 
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: #fcb6b8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* JS */

button {
 
  border: none;
  color: #fcb6b8;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  
}

