*{
  font-family: 'Montserrat'
}


*{
  background-color: rgb(248, 248, 248);
}


h1{
  color: #fcb6b8;
  background-color: transparent;
}

h4{

    color: #fcb6b8;
    
}

.portfolio{
    max-width: 300px;
    
}


p{
  color: #fcb6b8;
  font-size: 22px;
  background-color: transparent;
}

ul {
    list-style-type: none;
    text-decoration: none;
    float: right;
    
  }


li {
  
    color: #fcb6b8;
    display: inline;
    vertical-align: bottom;
  }

li a:hover {
    color: #fcb6b8;
    font-weight: bold; 
  }




.otherheader {
    padding: 10px;
    background-color: #3c8bcc;
    font-size: 30px;
    max-width: 100%;
    margin: 7%;
    text-align: center;

    
    
  }
  


  footer{
    
    border: rgb(0, 0, 0);
    border-width: 5pxxx;
    padding: 5px;
    text-align: right;
    background-color: #3c8bcc;
   margin-top: 10px;
    
    
  } 

  .socials{
    background-color: transparent;
  }
  
  .socials a{
    background-color: transparent;
  }


.logo{
  float: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:active{
  color: #E0EBC4

}

footer a:hover{
  opacity:50%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #fcb6b8;
  background-color: #3c8bcc;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
 
  z-index: 1;
}
/* idk what z index means :(*/

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: #fcb6b8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
 
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
  
}

.column img {
  margin-top: 8px;
 
}










* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #3c8bcc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    background-color: #3c8bcc;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {

  background-color: #fcb6b8;
  color: white;
}

/* Style the container/contact section */
.container {
  border-radius: 2px;
  padding: 5px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}