*{
  font-family: 'Montserrat'
}


*{
  background-color: rgb(248, 248, 248);
}


h1{
  color: #fcb6b8;
  background-color: transparent;
}

h4{

    color: #fcb6b8;
    
}

.portfolio{
    max-width: 300px;
    
}


p{
  color: #fcb6b8;
  font-size: 22px;
  background-color: transparent;
}


ul {
    list-style-type: none;
    text-decoration: none;
    float: right;
    
  }


li {
  
    color: #fcb6b8;
    display: inline;
    vertical-align: bottom;
  }

li a:hover {
    color: #fcb6b8;
    font-weight: bold; 
  }




.otherheader {
    padding: 10px;
    background-color: #3c8bcc;
    font-size: 30px;
    max-width: 100%;
    margin: 7%;
    text-align: center;

    
    
  }
  



  footer{
    
    border: rgb(0, 0, 0);
    border-width: 5pxxx;
    padding: 5px;
    text-align: right;
    background-color: #3c8bcc;
   margin-top: 10px;
    
    
  } 

  .socials{
    background-color: transparent;
  }
  
  .socials a{
    background-color: transparent;
  }


.logo{
  float: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:active{
  color: #3c8bcc;

}

footer a:hover{
  opacity:50%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #fcb6b8;
  background-color: #3c8bcc;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3c8bcc;
  min-width: 160px;
 
  z-index: 1;
}
/* idk what z index means :(*/

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: #fcb6b8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}



.row {
  margin: 8px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}